@model IEnumerable<Common.ViewModels.PhieuDatHangViewModel>

@{
    ViewBag.Title = "Xóa Phiếu Đặt Hàng";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<link href="~/Content/Css/Webgird.css" rel="stylesheet" />
<div class="alert alert-danger fade in">
    <span><i class="fa fa-bullhorn" style="padding-right: 7px" aria-hidden="true"></i>Bạn có chắc chắn muốn xóa?</span>
</div>

<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="row">
                @{Html.RenderAction("ThongTinPhieuDatHang", "DatHang");}
            </div>

        </div>
        @using(Html.BeginForm("Delete", "DatHang"))
        {
            <div class="form-group">
                <div class="col-md-offset-4 col-sm-offset-3">
                    <div class="btn btn-dark" onclick="@("window.location.href='" + @Url.Action("Index", "DatHang") + "'"); ">
                        <i class="glyphicon glyphicon-arrow-left"></i> 
                        Quay lại 
                    </div>
                    <button class="btn btn-primary" id="submit"><i class="glyphicon glyphicon-remove"></i> Xóa Phiếu Đặt hàng</button>
                </div>
            </div>
        }

    </div>
</div>