@model Common.ViewModels.HangHoaViewModel
@{
    ViewBag.Title = "Tạo Hàng Hóa";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}
<link href="~/Content/Css/SonCustomWebgird.css" rel="stylesheet" />
<link href="../../Content/foundation/foundation.css" type="text/css" rel="Stylesheet" />
<link href="../../Content/DataTables-1.9.4/foundation/dataTables.foundation.css" type="text/css" rel="Stylesheet" />
<link rel="stylesheet" href="../../Content/foundation/foundation_icons_general/stylesheets/general_foundicons.css">

<div class="page-title">
    <div class="title_left">
        <h2>@ViewBag.Title</h2>
    </div>
</div>


<div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Thông Tin Hàng Hóa</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("Create", "HangHoa", FormMethod.Post))
            {
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Tên Hàng Hóa
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="tenhanghoa"  class="form-control " style="margin-left:5px" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Model Name
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="modelname" class="form-control " style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Gía Bán
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="number" name="giaban" min="0" max="1000000000" class="form-control " style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Đơn vị tính
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="donvitinh" class="form-control" style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Mô Tả
                        </label>
                            <textarea type="text" name="mota" class="form-control" style="margin-left:5px"></textarea>
                            @*<div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <ul class="wysihtml5-toolbar"><li class="dropdown"><a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-font"></i>&nbsp;<span class="current-font">Normal text</span>&nbsp;<b class="caret"></b></a><ul class="dropdown-menu"><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="div" tabindex="-1" href="javascript:;" unselectable="on">Normal text</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Heading 1</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Heading 2</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Heading 3</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" href="javascript:;" unselectable="on">Heading 4</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" href="javascript:;" unselectable="on">Heading 5</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" href="javascript:;" unselectable="on">Heading 6</a></li></ul></li><li><div class="btn-group"><a class="btn btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on">Bold</a><a class="btn btn-default wysihtml5-command-active" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Italic</a><a class="btn btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Underline</a></div></li><li><div class="btn-group"><a class="btn" data-wysihtml5-command="insertUnorderedList" title="Unordered list" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-list"></i></a><a class="btn" data-wysihtml5-command="insertOrderedList" title="Ordered list" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-th-list"></i></a><a class="btn" data-wysihtml5-command="Outdent" title="Outdent" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-indent-right"></i></a><a class="btn" data-wysihtml5-command="Indent" title="Indent" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-indent-left"></i></a></div></li><li><div class="bootstrap-wysihtml5-insert-link-modal modal hide fade"><div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Insert link</h3></div><div class="modal-body"><input value="http://" class="bootstrap-wysihtml5-insert-link-url input-xlarge"><label class="checkbox"> <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked="">Open link in new window</label></div><div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">Cancel</a><a href="#" class="btn btn-primary" data-dismiss="modal">Insert link</a></div></div><a class="btn" data-wysihtml5-command="createLink" title="Insert link" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-share"></i></a></li><li><div class="bootstrap-wysihtml5-insert-image-modal modal hide fade"><div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Insert image</h3></div><div class="modal-body"><input value="http://" class="bootstrap-wysihtml5-insert-image-url input-xlarge"></div><div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">Cancel</a><a href="#" class="btn btn-primary" data-dismiss="modal">Insert image</a></div></div><a class="btn" data-wysihtml5-command="insertImage" title="Insert image" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-picture"></i></a></li></ul><textarea name="" id="compose-editor" class="form-control" rows="10" placeholder="Write your content here..." style="display: none;"></textarea><input type="hidden" name="_wysihtml5_mode" value="1"><iframe class="wysihtml5-sandbox" security="restricted" allowtransparency="true" frameborder="0" width="0" height="0" marginwidth="0" marginheight="0" style="border: 1px solid rgb(221, 221, 221); display: block; border-collapse: separate; clear: none; float: none; margin: 0px; outline: rgb(162, 162, 162) none 0px; outline-offset: 0px; padding: 10px; position: static; z-index: auto; vertical-align: baseline; text-align: start; box-sizing: border-box; box-shadow: none; border-radius: 0px; width: 1082.91px; height: 202px; top: auto; left: auto; right: auto; bottom: auto; background-color: rgb(255, 255, 255);"></iframe>
                                </div>
                            </div>*@
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Xuất Xứ
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="xuatxu" class="form-control"  style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Thời Gian Bảo Hành
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="number" name="thoigianbaohanh" min=0 class="numericOnly form-control" style="margin-left:5px" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Hình Đại Diện</label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" name="avatar" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                <div>
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new">Chọn hình ảnh</span><span class="fileinput-exists">Thay đổi</span>
                                        <input type="file" name="avatar" id="fileUpload">
                                        <input type="hidden" id="file" name="hinhanh" class="form-control" style="margin-left:5px"></span>
                                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Xóa</a>
                                </div>
                            </div>
                        </div>
                      </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Thông Số Kỹ Thuật
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <textarea type="text" name="thongsokythuat" class="form-control" style="margin-left:5px"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">
                            Loại Hàng Hóa
                        </label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            @Html.DropDownList("maloaihanghoa", new SelectList(ViewBag.loaihanghoa, "Value", "Text"), new { @class = "form-control", style = "margin-left:5px" })
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="col-md-offset-5 col-sm-offset-3 ">
                            <button class="btn btn-primary" id="submit"><i class="glyphicon glyphicon-save"></i>Lưu Hàng Hóa</button>
                        </div>
                    </div>

                </div>

            }
        </div>
    </div>
</div>


<script type="text/javascript">
    File.prototype.convertToBase64 = function (callback) {
        var reader = new FileReader();
        reader.onload = function (e) {
            callback(e.target.result)
        };
        reader.onerror = function (e) {
            callback(null);
        };
        reader.readAsDataURL(this);
    };
    $(function () {
        $('#fileUpload').on('change', function () {
            var selectedFile = this.files[0];
            selectedFile.convertToBase64(function (base64) {
                $('#preview').attr("src", base64);
                $('#file').val(base64);
                $('#preview').show();
            })
        });
    });

</script>