@model Common.ViewModels.HangHoaViewModel
@{
    ViewBag.Title = "Tạo Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i> Sản Phẩm</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <button class="btn btn-lg btn-success btn-xs btn-push" id="submit"><i class="glyphicon glyphicon-save"></i> Lưu</button>
            <button class="btn btn-lg btn-success btn-xs btn-push" onclick="@("window.location.href='" + @Url.Action("Index", "HangHoa") + "'"); ">
                <i class="glyphicon glyphicon-arrow-left"></i> Quay lại
            </button>
        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">@ViewBag.Title</h3>
                        </div>

                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->

                    <div class="panel-body no-padding">
                        @using (Html.BeginForm("Create", "HangHoa", FormMethod.Post, new { id = "basic-validate", enctype = "multipart/form-data" }))
                        {
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Tên sản phẩm</label>
                                    <input type="text" name="tenhanghoa" class="form-control rounded" maxlength="50" required />
                                </div>

                                <div class="form-group">
                                    <label>Model name</label>
                                    <input type="text" name="modelname" class="form-control rounded" required />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Đơn vị tính
                                    </label>
                                    <input type="text" name="donvitinh" class="form-control rounded" />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Loại Hàng Hóa
                                    </label>
                                    @Html.DropDownList("maloaihanghoa", new SelectList(ViewBag.loaihanghoa, "Value", "Text"), new { @class = "form-control rounded" })
                                </div>

                                <div class="form-group">
                                    <label>
                                        Xuất Xứ
                                    </label>
                                    <input type="text" name="xuatxu" class="form-control rounded" />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Thời Gian Bảo Hành
                                    </label>
                                    <input type="text" name="thoigianbaohanh" class="form-control rounded" />
                                </div>

                                <div class="form-group">
                                    <label>Hình Ảnh</label>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-preview thumbnail" name="hinhanh" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                        <div>
                                            <span class="btn btn-info btn-file">
                                                <span class="fileinput-new">Chọn hình ảnh</span><span class="fileinput-exists">Thay đổi</span>
                                                <input type="file" name="hinhanh" id="fileUpload">
                                                <input type="hidden" id="file" name="hinhanh" class="form-control" style="margin-left:5px">
                                            </span>
                                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Xóa</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>
                                        Thông Số Kỹ Thuật
                                    </label>

                                    <div class="form-group">
                                        <textarea id="thongsokythuat" name="thongsokythuat" class="form-control rounded" rows="10" placeholder="Enter text ..."></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>
                                        Mô Tả
                                    </label>

                                    <div class="form-group">
                                        <textarea id="mota" name="mota" class="form-control rounded" rows="10" placeholder="Enter text ..."></textarea>
                                    </div>
                                </div>
                            </div>

                        }
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
                <!--/ End input fields - basic form-->
            </div><!-- /.col-md-6 -->
        </div>
    </div>
</section>

@*<script type="text/javascript">
        File.prototype.convertToBase64 = function (callback) {
            var reader = new FileReader();
            reader.onload = function (e) {
                callback(e.target.result)
            };
            reader.onerror = function (e) {
                callback(null);
            };
            reader.readAsDataURL(this);
        };
        $(function () {
            $('#fileUpload').on('change', function () {
                var selectedFile = this.files[0];
                selectedFile.convertToBase64(function (base64) {
                    $('#preview').attr("src", base64);
                    $('#file').val(base64);
                    $('#preview').show();
                })
            });
        });

        $(function () {
            $('#submit').click(function () {
                $('#formphieuchi').click();
            })
        })
        $(function () {
            $('#submitOver').click(function () {
                $('#submit').click();
            })
        })
    </script>*@

<script>
    $('#submit').click(function () {
        $('#basic-validate').submit();
    });
</script>

<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Content/assets/ckeditor/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('mota', { filebrowserBrowseUrl: '#' });
        CKEDITOR.replace('thongsokythuat', { filebrowserBrowseUrl: '#' });
    });
</script>