@using Common.ViewModels
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Css/Manager.css" rel="stylesheet" />

@* Header section of homepage if login sucessfull*@
<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container containerheader">
            <div class="row">
                <div class="col-md-6">
                    <a id="menu_toggle" href="#"> <img src="~/Content/Image/Home/Logo.png" class="logo" /></a>
                </div>
                <div class="col-md-6" style=" float: right">
                    @{
                        NhanVienViewModel account = (NhanVienViewModel)Session["Account"];
                        <ul class="nav navbar-nav navbar-right ava">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><img src="~/Content/Image/User/@account.avatar" style="width:50px; border-radius: 100%;" class="ava"><span class="badge"></span></a>
                                @* Menu khi nhấn vào avatar *@
                                <ul class="dropdown-menu dropdown-custom" style="right: -35px;">
                                    <li class="dropdown-menu-header text-center">
                                        <strong>Chức vụ: @account.tenChucVu</strong>
                                        <h5>Chào @account.tenNhanVien.ToUpper()</h5>
                                    </li>
                                    <li class="m_2"><a href="@Url.Action("UpdatePassword", "Home")"><i class="fa fa-edit orange"></i> Update password <span class="label label-info"></span></a></li>
                                    <li class="m_2"><a href="@Url.Action("Logout", "Home")"><i class="fa fa-sign-out orange"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </nav>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
