@model IEnumerable<Common.ViewModels.PhieuXuatKhoViewModel>

@{
    ViewBag.Title = "Hủy Phiếu Xuất Kho";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i>Phiếu Xuất Kho</h2>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="alert alert-danger fade in">
                <span><i class="fa fa-bullhorn" style="padding-right: 7px" aria-hidden="true"></i>Bạn có chắc chắn muốn hủy?</span>
            </div>

            @{Html.RenderAction("ThongTinPhieuXuatKho", "XuatKho");}
        </div>
        @using (Html.BeginForm("Delete", "XuatKho"))
        {
            <div class="form-group">
                <div class="col-md-offset-4 col-sm-offset-3">
                    <button class="btn btn-sm btn-danger btn-xs btn-push" id="submit">
                        <i class="fa fa-trash"></i> Hủy Phiếu Xuất Kho
                    </button>
                </div>
            </div>
        }
    </div>
</section>