@model IEnumerable<Common.ViewModels.PhieuXuatKhoViewModel>

@{
    ViewBag.Title = "Xóa Phiếu Xuất Kho";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<link href="~/Content/Css/Webgird.css" rel="stylesheet" />
<div class="header">
    <div class="col-sm-4 no-padding-left">
        <div class="alert alert-danger fade in" style="width:230%; height:47px">
            <span><i class="fa fa-bullhorn" aria-hidden="true"></i>Bạn có chắc chắn muốn xóa?</span>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" id="submit"><i class="glyphicon glyphicon-remove"></i> Xóa Phiếu Xuất Kho</button>
        <button class="btn btn-dark" onclick="@("window.location.href='" + @Url.Action("Index", "XuatKho") + "'"); "><i class="glyphicon glyphicon-arrow-left"></i> Quay lại </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="row">
                @{Html.RenderAction("ThongTinPhieuXuatKho", "XuatKho");}
            </div>

        </div>

        @using (Html.BeginForm("Delete", "XuatKho"))
        {
            <div class="form-group">
                <div class="col-md-offset-4 col-sm-offset-3">

                </div>
            </div>
        }
    </div>
</div>