@model IEnumerable<Common.ViewModels.KiemKhoViewModel>

@{
    ViewBag.Title = "Hủy Phiếu Kiểm Kho";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i>Phiếu Kiểm Kho</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            @using (Html.BeginForm("Delete", "KiemKho"))
            {
                <button class="btn btn-sm btn-danger btn-xs btn-push" id="submit">
                    <i class="fa fa-trash"></i> Hủy Phiếu Kiểm Kho
                </button>
            }
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="alert alert-danger fade in">
                <span><i class="fa fa-bullhorn" style="padding-right: 7px" aria-hidden="true"></i>Bạn có chắc chắn muốn hủy?</span>
            </div>

            @{Html.RenderAction("ThongTinPhieuKiemKho", "KiemKho");}
        </div>
       
    </div>
</section>