@model IEnumerable<Common.ViewModels.PhieuBanHangViewModel>

@{
    ViewBag.Title = "Hủy Phiếu Bán Hàng";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i>Phiếu Bán Hàng</h2>
        <div class="breadcrumb-wrapper hidden-xs">

            @using (Html.BeginForm("Delete", "BanHang"))
            {
                <button class="btn btn-sm btn-danger btn-xs btn-push" id="submit">
                    <i class="fa fa-trash"></i> Hủy Phiếu Bán Hàng
                </button>
            }

        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="alert alert-danger fade in">
                <span><i class="fa fa-bullhorn"></i>Bạn có chắc chắn muốn hủy?</span>
            </div>

            @{Html.RenderAction("ThongTinPhieuBanHang", "BanHang");}
        </div>

    </div>
</section>