@*
    Error page
*@
@{
    ViewBag.Title = "PermissionError";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Css/Custom.css" rel="stylesheet" />

<div class="error">
    <h2>
        You are not authorized to view this page!!!

        @* Back to index *@
        <br/>
        @Html.ActionLink("Back", "Index", "Home", null, null)
    </h2>

</div>