@model IEnumerable<Common.ViewModels.NhanVienViewModel>

@{
    ViewBag.Title = "Xóa Nhân Viên";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}
<link href="~/Content/Css/SonCustomWebgird.css" rel="stylesheet" />
<div class="x_panel">   
    <div class="main-content">
        <div class="form-horizontal">
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span><i class="fa fa-bullhorn" style="padding-right: 7px" aria-hidden="true"></i>Bạn có chắc chắn muốn xóa?</span>
            </div>
            <div class="x_title">
                <h2>Thông Tin Nhân Viên</h2>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="row">
                            @{Html.RenderAction("ThongTinNhanVien", "NhanVien");}
                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Delete", "NhanVien"))
            {
                <div class="form-group">
                    <div class="col-md-offset-5 col-sm-offset-3 ">
                        <input type="submit" value="Xóa Nhân Viên" class="btn btn-primary" />
                        @Html.ActionLink("Quay Lại", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>