#wrapper {
    width: 100%;
    margin-top: 50px;
    background-color: rgb(38, 38, 38);
}

#page-wrapper {
    /*--padding: 0 15px;--*/
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 188px;
        /*--padding: 0 30px;--*/
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

    .navbar-top-links li {
        display: inline-block;
    }

        .navbar-top-links li:last-child {
            margin-right: 15px;
        }

        .navbar-top-links li a {
            padding: 15px;
            min-height: 50px;
        }

    .navbar-top-links .dropdown-menu li {
        display: block;
    }

        .navbar-top-links .dropdown-menu li:last-child {
            margin-right: 0;
        }

        .navbar-top-links .dropdown-menu li a {
            padding: 3px 20px;
            min-height: 0;
        }

            .navbar-top-links .dropdown-menu li a div {
                white-space: normal;
            }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        width: 310px;
        min-width: 0;
    }

    .navbar-top-links .dropdown-messages {
        margin-left: 5px;
    }

    .navbar-top-links .dropdown-tasks {
        margin-left: -59px;
    }

    .navbar-top-links .dropdown-alerts {
        margin-left: -123px;
    }

    .navbar-top-links .dropdown-user {
        right: 0;
        left: auto;
    }

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0 !important;
}

    .sidebar .nav-second-level li a {
        padding-left: 37px;
    }

    .sidebar .nav-third-level li a {
        padding-left: 52px;
    }

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.sidebar {
    height: 100%;
    /* margin-top:  -20px; */
}

.nav-second-level {
    margin-left: 14px;
}


.form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}

input.form-control:hover {
    border: 1px solid #EF5F21 !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #EF5F21;
}

input.form-control {
    border: 1px solid #ccc !important;
}

    input.form-control:focus {
        border: 1px solid #EF5F21 !important;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #EF5F21 !important;
    }

ul.dropdown-menu.dropdown-custom {
    padding: 0;
    border-radius: 5px;
    text-align: left;
}

    ul.dropdown-menu.dropdown-custom > li:first-child > a:hover {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    ul.dropdown-menu.dropdown-custom > li:last-child > a:hover {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    ul.dropdown-menu.dropdown-custom > li.dropdown-menu-header.text-center {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

.notify {
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
}

.background {
    background-image: url(../../Content/Image/Home/Background.jpg);
}

li.dropdown-menu-header.text-center {
    padding: 10px;
    background-color: #ff531a;
    color: white;
}

ul.nav.nav-second-level.in > li > a {
    margin-left: -14px;
    width: 106%;
    padding-left: 51px;
}

.error {
    background-image: url(../../Content/Image/Home/error.jpeg);
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .error h2 {
        color: #ff531a;
        text-align: center;
        padding: 30px;
        margin-top: 0;
        line-height: 50px;
    }

th.nav-right {
    text-align: right;
}

th.nav-title {
    width: 47%;
    text-align: right;
}

.control-panel {
    text-align: left;
    padding-top: 25px;
}

.choose {
    padding-top: 10%;
    text-align: center;
}

    .choose h1 {
        font-size: 2.1em;
        color: #ff531a;
        text-transform: uppercase;
        outline: 0;
        text-shadow: 0px 0px 25px #ff531a;
        -moz-text-shadow: 0px 0px 10px #ff531a;
        -webkit-text-shadow: 0px 0px 15px #ff401a;
        font-weight: bold;
    }

input.error {
    background: white !important;
    border: 1px solid red !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px red !important;
    /* background-color: transparent !important; */
}

select.error {
    background: white !important;
    border: 1px solid red !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px red !important;
    background-color: transparent !important;
}