
.navbar-inverse {
    background-color: #ff8000;
    border-color: #ff8000;
    margin-bottom: 0;
    height: 50px;
    background-image: -ms-radial-gradient(left top, circle farthest-corner, rgba(255, 212, 0, 0.46) 0%, #ff8000 100%);
    background-image: -moz-radial-gradient(left top, circle farthest-corner, rgba(255, 212, 0, 0.46) 0%, #ff8000 100%);
    background-image: -o-radial-gradient(left top, circle farthest-corner, rgba(255, 212, 0, 0.46) 0%, #ff8000 100%);
    background-image: -webkit-gradient(radial, left top, 0, left top, 212, color-stop(0, rgba(255, 212, 0, 0.46)), color-stop(1, #ff8000));
}

h1, .h1 {
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    outline: 0;
    text-shadow: 0px 0px 25px white;
    -moz-text-shadow: 0px 0px 10px #ff531a;
    -webkit-text-shadow: 0px 0px 15px #ff401a;
    margin-top: 9px;
    text-align: center;
    padding-left: 50px;
}

.containerheader {
    height: 50px;
}

.tableheader {
    height: 50px;
}

.logo {
    width: 35px;
    height: 35px;
    left: -3px;
    position: absolute;
}

.col-md-6 {
    margin-top: -10px;
}

img.ava {
    width: 35px !important;
    margin-top: 5px !important;
    margin-right: -90px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 2px !important;
    border-radius: 5px;
    font-size: 14px;
}

.dropdown-custom:before {
    content: "";
    position: absolute;
    right: 21px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ff8000 transparent;
    z-index: 9999;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent !important;
}

li.dropdown-menu-header.text-center {
    background-color: #ff8000 !important;
}