@model IEnumerable<Common.ViewModels.PhieuNhapKhoViewModel>
@using Common.ViewModels
@{
    ViewBag.Title = "Danh Sách Phiếu Nhập Kho";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<link href="~/Content/Css/SonCustomWebgird.css" rel="stylesheet" />
<link href="../../Content/foundation/foundation.css" type="text/css" rel="Stylesheet" />
<link href="../../Content/DataTables-1.9.4/foundation/dataTables.foundation.css" type="text/css" rel="Stylesheet" />
<link rel="stylesheet" href="../../Content/foundation/foundation_icons_general/stylesheets/general_foundicons.css">
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="page-title">
    <div class="title_left">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "NhapKho") + "'"); ">
            <i class="glyphicon glyphicon-chevron-right"></i>
            Tạo phiếu nhập kho
        </button>
    </div>
</div>

<div>
    <div class="x_panel">
        <div class="x_content">
            @using (Ajax.BeginForm("DanhSachPhieuNhapKho", "NhapKho", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "list", HttpMethod = "Get" }, new { id = "filter_div" }))
            {

                <div class="col-md-12 col-sm-6 col-xs-12">
                    <label class="control-label">Tìm Kiếm</label>
                    <div class="input-group">
                        @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Tìm kiếm", @aria_describedby = "basic-addon2" })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>

            }
            <div id="list">
                @{Html.RenderAction("DanhSachPhieuNhapKho", "NhapKho");}
            </div>
        </div>
    </div>
</div>