@{
    ViewBag.Title = "Đặt Hàng Thành Công";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class=" login-left">
    <h3>ĐẶT HÀNG THÀNH CÔNG</h3>
    <p>Cảm ơn bạn đã mua hàng tại website của chúng tôi. Đơn hàng của bạn đã được gửi thành công. Chúng tôi sẽ xác minh thông tin và liên hệ với bạn trong thời gian sớm nhất để giao hàng</p>

    <h3>BIG SHOPE ONLINE</h3>
    <p>Địa chỉ: 271B/1 Khu phố 1, Tân Biên, Thành Phố Biên Hòa, Tỉnh Đồng Nai</p>
    <p>Số điện thoại: 0949512609</p>
    <p>Email: bigshope@gmail.com</p>
    <p>Website: http://bigshope.vn/ </p>
    <p>Copyright © 2016, http://bigshope.vn/, All Rights Reserved </p>
</div>