@model IList<Common.Models.NhaCungCap>

@{
    ViewBag.Title = "Sửa Nhà Cung Cấp";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}
<link href="~/Content/Css/SonCustomWebgird.css" rel="stylesheet" />

<div class="page-title">
    <div class="title_left">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Thông Tin Nhà Cung Cấp</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                @{Html.RenderAction("ThongTinNhaCungCap", "NhaCungCap");}

                <div class="form-group">
                    <div class="col-md-offset-4 col-sm-offset-3">
                        <div class="btn btn-dark" onclick="@("window.location.href='" + @Url.Action("Index", "NhaCungCap") + "'"); "><i class="glyphicon glyphicon-arrow-left"></i> Quay lại </div>
                        <button class="btn btn-primary" id="submit"><i class="glyphicon glyphicon-edit"></i>Sửa nhà cung cấp</button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
</div>
